.page.login {
  background: url('../assets/images/img-7.jpg') top left repeat;
}
.page {
  @media (min-width: 376px) {
    // .login-form-wrap {
    //   width: 600px;
    //   padding: 40px 50px;
    // }
  }

  .login-form-wrap {
    background-color: #fff;
    border-radius: 5px;
  }
}

.login-other {
  text-align: center;
  padding-bottom: 10px;
}
