.loginTop {
  text-align: center;
}
.loginHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  line-height: 44px;
}
.loginLogo {
  width: 44px;
  height: 44px;
  margin-right: 16px;
  vertical-align: top;
}
.loginTitle {
  position: relative;
  top: 2px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 600;
  font-size: 33px;
}
.loginDesc {
  margin-top: 12px;
  margin-bottom: 40px;
  color: rgba(0, 0, 0, 0.45);
  font-size: 14px;
}

.loginOther {
  float: left;
  width: 100%;
  margin: 25px 0 25px;
  text-align: center;
  position: relative;

  :global {
    .ant-divider-inner-text {
      width: auto;
      float: none;
      display: inline-block;
      background: #fff;
      padding: 1px 20px;
      z-index: 1;
      position: relative;
      font-size: 15px;
      color: #616161;
      text-transform: capitalize;
    }
  }
}

.loginFooter {
  text-align: center;
}
